<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spacenet - Register</title>
    <link rel="shortcut icon" href="./img/icons/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Montserrat:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="../css/index.min.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__logo">
        <a href="/"><img src="../img/logo.svg" alt="spacenet_logo" /></a>
      </div>
    </header>

    <section class="require">
      <div class="container">
        <h1>We are glad to see you, earthling!</h1>
        <div class="require__header">Register</div>
        <div id="require__info" class="require__info">
          <div id="spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="require__wrapper">
          <form id="registerForm" class="credential-form" action="#">
            <label for="login">Username</label>
            <input name="userName" type="text" id="login" maxlength="50" required placeholder="> 3 symbols" />
            <label for="email">Email</label>
            <input name="email" type="email" id="email" maxlength="50" required />
            <label for="password">Password</label>
            <input
              name="password"
              type="password"
              id="password"
              type="text"
              maxlength="50"
              required
              placeholder="> 4 symbols"
            />
            <span></span>
            <button id="btn_submit" type="submit" class="btn btn_submit">create account</button>
          </form>

          <div class="require__text">or</div>

          <form action="#">
            <button type="submit" class="btn btn_fb">facebook</button>
          </form>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="copyright">2022 Planet Earth</div>
    </footer>

    <script src="../js/register.js"></script>
  </body>
</html>
