.footer
  position: absolute
  bottom: 0
  width: 100%
  height: 66px
  background-color: #121212
  font-family: 'Inter'
  font-weight: 400
  font-size: 14px
  text-align: center
  color: #F1F1F1
  padding-top: 26px